{% extends 'Admin/admin_home.html' %}
{% block content %}


<br>
<div class="container" >
<h2>Order Transactions</h2>
<table class="table" border="1">
    <tr>
        <th>Sl.No.</th>
        <th>Date</th>
        <th>Product Details</th>
        <th>Quantity</th> 
        <th>Total Amount</th>
        <th>Status</th>
       
    </tr>
    {% for x in var %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{x.date}}</td>
        <td><img src="{{x.product_id.img.url}}" width="50px" height="50px"><br>{{x.product_id.name}}<br>{{x.product_id.qty}}-{{x.product_id.mesure}}
        <br>{{x.product_id.price}}</td>
        <td>{{x.cart_id.qty}}</td>  
        <td>{{x.cart_id.total_price}}</td>  
        <td>{{x.packing_status}}</td> 
        
    </tr>
    {% endfor %}

</table>
</div>


<style>
    th{
        background-color: #ff5722;
        color: white !important;

    }
</style>

{% endblock %}